{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>궁(금해), 예(측건수)</title>
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
        <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <a id=index_title class="navbar-brand" href="{% url 'index' %}">궁<span>(금해)</span> , 예<span>(측건수)</span></a>
            <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#"><i class="fas fa-bars"></i></button>
        </nav>

        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading">전체 업종</div>
                            <a class="nav-link text-gray" href="{% url 'index' %}">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                전체 업종 순위
                            </a>
                            <div class="sb-sidenav-menu-heading">업종별</div>
                            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon"><i class="fas fa-search-plus"></i></div>
                                업종별 상세 차트
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                           <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="{% url 'chicken_result' %}"><i class="fas fa-drumstick-bite"></i>&nbsp;치킨</a>
                                    <a class="nav-link" href="{% url 'ilsik_result' %}"><span class="material-icons">set_meal</span>&nbsp;돈까스/일식</a>
                                    <a class="nav-link" href="{% url 'bunsik_result' %}"><i class="fas fa-utensils"></i>&nbsp;분식</a>
                                    <a class="nav-link" href="{% url 'yasik_result' %}"><i class="fas fa-cloud-moon"></i>&nbsp;야식</a>
                                    <a class="nav-link" href="{% url 'jokbal_result' %}"><i class="fas fa-piggy-bank"></i>&nbsp;족발/보쌈</a>
                                    <a class="nav-link" href="{% url 'jungsik_result' %}"><span class="material-icons">ramen_dining</span>&nbsp;중식</a>
                                    <a class="nav-link" href="{% url 'jimtang_result' %}"><i class="fab fa-hotjar"></i>&nbsp;찜/탕</a>
                                    <a class="nav-link" href="{% url 'cafe_result' %}"><i class="fas fa-coffee"></i>&nbsp;카페/디저트</a>
                                    <a class="nav-link" href="{% url 'fastfood_result' %}"><i class="fas fa-hamburger"></i>&nbsp;패스트푸드</a>
                                    <a class="nav-link" href="{% url 'hansik_result' %}"><span class="material-icons"> rice_bowl</span>&nbsp;한식</a>
                                    <a class="nav-link" href="{% url 'etc_result' %}"><span class="material-icons">delivery_dining</span>&nbsp;기타</a>
                                </nav>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
            <div id="layoutSidenav_content">
                <main class="mb-sm-5">
                    <div class="container-fluid">
                        <h1 class="mt-4"><i class="fas fa-store"></i>&nbsp;전체 업종</h1>
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-chart-line mr-1"></i>
                                        일자별 전체 예측 주문건수
                                    </div>
                                    <div class="card-body"><canvas id="main_line" width="100%" height="40"></canvas></div>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-chart-pie mr-1"></i>
                                        업종별 전체 예측 주문 비율
                                    </div>
                                    <div class="card-body"><canvas id="main_pie" width="100%" height="40"></canvas></div>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table mr-1"></i>
                                실시간 업종별 주문 예측 건수 순위
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>순위</th>
                                                <th>날짜</th>
                                                <th>광역시도명</th>
                                                <th>업종명</th>
                                                <th>배달건수</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th>순위</th>
                                                <th>날짜</th>
                                                <th>광역시도명</th>
                                                <th>업종명</th>
                                                <th>배달건수</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            {% for result in result_list %}
                                                <tr>
                                                    <td>{{forloop.counter}}</td>
                                                {% for key, value in result.items %}
                                                    {% if value == '치킨' %}
                                                        <td><a href="{% url 'chicken_result' %}">{{value}}</a></td>
                                                    {% elif value == '돈까스/일식' %}
                                                        <td><a href="{% url 'ilsik_result' %}">{{value}}</a></td>
                                                    {% elif value == '분식' %}
                                                        <td><a href="{% url 'bunsik_result' %}">{{value}}</a></td>
                                                    {% elif value == '야식' %}
                                                        <td><a href="{% url 'yasik_result' %}">{{value}}</a></td>
                                                    {% elif value == '족발/보쌈' %}
                                                        <td><a href="{% url 'jokbal_result' %}">{{value}}</a></td>
                                                    {% elif value == '중식' %}
                                                        <td><a href="{% url 'jungsik_result' %}">{{value}}</a></td>
                                                    {% elif value == '찜/탕' %}
                                                        <td><a href="{% url 'jimtang_result' %}">{{value}}</a></td>
                                                    {% elif value == '카페/디저트' %}
                                                        <td><a href="{% url 'cafe_result' %}">{{value}}</a></td>
                                                    {% elif value == '패스트푸드' %}
                                                        <td><a href="{% url 'fastfood_result' %}">{{value}}</a></td>
                                                    {% elif value == '한식' %}
                                                        <td><a href="{% url 'hansik_result' %}">{{value}}</a></td>
                                                    {% elif value == '기타' %}
                                                        <td><a href="{% url 'etc_result' %}">{{value}}</a></td>
                                                    {% else %}
                                                        <td>{{value}}</td>
                                                    {% endif %}
                                                {% endfor %}
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
                       <!-- Site footer -->
            <footer class="site-footer">
                  <div class="container">
                    <div class="row">
                      <div class="col-sm-12 col-md-6">
                        <h6>About</h6>
                        <p class="text-justify">
                          <span style="font-family: 'BMEuljiro10yearslater'; font-size: 20px; ">궁<span style="font-size: 10px;">(금해)</span>, 예<span style="font-size: 10px;">(측건수)</span></span>
                          <p>빅데이터 서비스 개발 전공 프로젝트</p>
                          <p>기상, 미세먼지, 코로나 데이터를 활용한 시간/업종별 배달 주문건수를 예측해 웹으로 구현한 프로토타입입니다.</p>
                          <p>팀장 : 박선익 | <a href="mailto:parksimis@kyonggi.ac.kr">parksimis@kyonggi.ac.kr</a><br>
                          팀원 : 김은영 | <a href="mailto:sunoju03@gmail.com">sunoju03@gmail.com</a><br>
                          팀원 : 김동현 | <a href="mailto:budkim1124@gmail.com">budkim1124@gmail.com</a>
                          </p>
                          모든 코드는 Github에 공개되어 있습니다.<br>
                          해당 페이지는 프로토타입으로 만들어졌으므로, 공식적인 근거 자료로 활용할 수 없습니다.
                        </p>
                      </div>
                      <div class="col-xs-6 col-md-2">
                        <h6>Categories</h6>
                        <ul class="footer-links">
                          <li><a href="{% url 'index' %}">Main</a></li>
                          <li><a href="{% url 'chicken_result' %}">Detail</a></li>
                        </ul>
                      </div>
                      <div class="col-xs-6 col-md-4">
                        <h6>Quick Links</h6>
                        <table>
                            <tr>
                                <td class="text-left"><a href="{% url 'chicken_result' %}">치킨</a></td>
                                <td class="text-right"><a href="{% url 'ilsik_result' %}">돈까스/일식</a></td>
                            </tr>
                            <tr>
                                <td class="text-left"><a href="{% url 'bunsik_result' %}">분식</a></td>
                                <td class="text-right"><a href="{% url 'yasik_result' %}">야식</a></td>
                            </tr>
                            <tr>
                                <td class="text-left"><a href="{% url 'jokbal_result' %}">족발/보쌈</a></td>
                                <td class="text-right"><a href="{% url 'jungsik_result' %}">중식</a></td>
                            </tr>
                            <tr>
                                <td class="text-left"><a href="{% url 'jimtang_result' %}">찜/탕</a></td>
                                <td class="text-right"><a href="{% url 'cafe_result' %}">카페/디저트</a></td>
                            </tr>
                            <tr>
                                <td class="text-left"><a href="{% url 'fastfood_result' %}">패스트푸드</a></td>
                                <td class="text-right"><a href="{% url 'hansik_result' %}">한식</a></td>
                            </tr>
                            <tr>
                                <td class="text-left"><a href="{% url 'etc_result' %}">기타</a></td>
                            </tr>
                        </table>
                      </div>
                    </div>
                    <hr>
                  </div>
                  <div class="container">
                    <div class="row">
                      <div class="col-md-8 col-sm-6 col-xs-12">
                        <p class="copyright-text">Copyright &copy; 2017 All Rights Reserved by
                     <a href="#">Scanfcode</a>.
                        </p>
                      </div>

                      <div class="col-md-4 col-sm-6 col-xs-12">
                        <ul class="social-icons">
                          <li><a class="github" href="https://github.com/parksimis/Mulcam-Delivery-Service"><i class="fab fa-github"></i></a></li>
                          <li><a class="dribbble" href="mailto:parksimis@kyonggi.ac.kr"><i class="far fa-envelope"></i></a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
            </footer>
            </div>
        </div>
        <input type="hidden" id="main_line_lbl" value="{{main_line_lbl}}">
        <input type="hidden" id="main_line_val" value="{{main_line_val}}">
        <input type="hidden" id="main_pie_lbl" value="{{main_pie_lbl}}">
        <input type="hidden" id="main_pie_val" value="{{main_pie_val}}">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="{% static 'src/js/scripts.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="{% static 'src/assets/demo/chart-area-demo.js' %}"></script>
        <script src="{% static 'src/assets/demo/chart-bar-demo.js' %}"></script>
        <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
        <script src="{%static 'src/assets/demo/datatables-demo.js'%}"></script>
    </body>
</html>
